body {
    background-color: #222;
    color: #fff;
    font-family: 'Inter', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#canvas-container {
    position: relative;
    width: 100vw;
    /* Full width of the viewport */
    height: 100vh;
    /* Full height of the viewport */
    background-color: #1f1f1f;
}

canvas {
    width: 100%;
    /* Full width within its container */
    height: 100%;
    /* Full height within its container */
}


.toolbar {
    position: absolute;
    /* Start with absolute positioning */
    background-color: #333;
    padding: 4px 2px;
    border-radius: 8px;
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
    top: 20px;
    /* Initial position */
    left: 20px;
    /* Initial position */
}

#options-toolbar {
    position: absolute;
    /* Start with absolute positioning */
    background-color: #333;
    padding: 0 2px;
    border-radius: 8px;
    margin: 6px 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
    top: 70px;
    /* Initial position relative to the main toolbar */
    left: 20px;
    /* Match the initial position of the main toolbar */
}

.active-tool {
    background-color: #000000;
    color: #099AF2;
    border: 1px solid #099AF2;
}

button {
    background-color: #444;
    color: #999;
    border: 1px solid #555;
    padding: 4px 6px;
    border-radius: 5px;
    margin-right: 10px;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    min-width: 24px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: semi-bold;
}

.copy-btn {
    margin-left: 24px;
}

input[type="range"] {
    width: 120px;
    appearance: none;
    background-color: black;
    height: 2px;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}

label {
    font-family: 'Inter', sans-serif;
    color: #888;
    margin: 0 12px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
}

input[type="color"] {
    width: 40px;
    height: 30px;
    border: 0;
    background-color: #333;
    margin: 0 12px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.transparent-rectangle {
    width: 512px;
    height: 512px;
    background-color: transparent;
    pointer-events: none;
    box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0.75);
    outline: 2px solid transparent;
    z-index: 10;
}


button:hover {
    background-color: #555;
    color: #fff;
    border-color: #099AF2;
}

button:disabled {
    background-color: #333;
    color: #666;
    cursor: not-allowed;
}

@media (max-width: 600px) {

    #toolbar,
    #options-toolbar {
        flex-direction: column;
    }
}


.drag-handle {
    cursor: grab;
    margin-right: 10px;
    padding: 5px;
    color: #999;
}

.drag-handle:active {
    cursor: grabbing;
}