/* Global Styles */
body {
    background-color: #222;
    color: #fff;
    font-family: 'Inter', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Canvas Container */
#canvas-container {
    position: relative;
    width: 100vw;
    /* Full width of the viewport */
    height: 100vh;
    /* Full height of the viewport */
    background-color: #1f1f1f;
}

canvas {
    width: 100%;
    /* Full width within its container */
    height: 100%;
    /* Full height within its container */
}

/* Toolbar Styles */
.toolbar {
    position: absolute;
    background-color: #333;
    padding: 4px 2px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 11;
    top: 10px;
    left: 10px;
    cursor: grab;
}


#options-toolbar {
    position: absolute;
    background-color: #333;
    padding: 2px 4px;
    border-radius: 8px;
    margin: 4px 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
    top: 60px;
    left: 10px;
}


/* Button Styles */
button {
    background-color: #444;
    color: #999;
    border: 1px solid #555;
    padding: 6px 8px;
    /* Increased padding for larger button size */
    border-radius: 5px;
    margin: 4px;
    /* Increased margin for spacing */
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    font-size: 12px;
    /* Slightly larger font size for readability */
    text-transform: uppercase;
    font-weight: semi-bold;
}

button:hover {
    background-color: #555;
    color: #fff;
    border-color: #099AF2;
}

button:disabled {
    background-color: #333;
    color: #666;
    cursor: not-allowed;
}

.active-tool {
    background-color: #000000;
    color: #099AF2;
    border: 1px solid #099AF2;
}


/* Input Styles */
input[type="range"] {
    width: 100px;
    height: 25px;
    border: 0;
    background-color: #333;
    margin: 4px 6px;
}

input[type="color"] {
    width: 25px;
    height: 25px;
    border: 0;
    background-color: #333;
    margin: 4px 6px;
}


input[type="range"] {
    appearance: none;
    height: 2px;
    background-color: black;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}

/* Label Styles */
label {
    font-family: 'Inter', sans-serif;
    color: #888;
    margin: 0 8px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
}

/* Drag Handle */
.drag-handle {
    cursor: grab;
    margin-right: 6px;
    padding: 2px;
    color: #999;
}

.drag-handle:active {
    cursor: grabbing;
}

/* Overlay and Transparency */
.overlay,
.transparent-rectangle {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.transparent-rectangle {
    background-color: transparent;
    box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0.75);
    outline: 2px solid transparent;
    z-index: 10;
}

/* Media Query for Smaller Screens */
@media (max-width: 600px) {

    #toolbar,
    #options-toolbar {
        flex-direction: row;
        /* Keep in one line for smaller screens */
    }
}